h2{
	font-size: 25px;
	font-style: bold,italic;
	font-family: cursive;
}

header{
	width: 100%;
}

.navbar-brand{
	font-size: 18px;
	font-style: bold;
}

.content{
	font-size: 20px;
	font-family: 'Damion', cursive;;
	font-style: normal;
	text-decoration-color: grey;
	font-weight: normal;
}

#nav{
	margin-bottom: 0px;
	bottom: 20px;
}

#content{
	margin-top: 40px;
	text-align: left;
	
}

img{
	width: 90%;
}

.panel-title{
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.panel{
	background-color: pink;
}

.contentstyle{
	font-size: 20px;
	margin-right: 100px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 50px;
	font-family: 'Bungee Inline', cursive;
	

}

footer{
	margin-top: 30px;
	width: 100%;
	background-color: grey;

}

#style{
	list-style: none;
	display: inline;

}

.Copyright{
	font-family: 'Bungee Inline', cursive;
}

#himg{
	width: 100%;
	align: center; 
}

.jumbotron{
	background-color: green;
}

#mainheading{
	font-family: 'Coming Soon', cursive;
}

#description{
	font-family: 'Bungee Inline', cursive;

}

.tab-content{
	margin-bottom: 30px;
	background-color: white;
	
}

.modal-dialog {
  height: 80%;
  padding-top:10%;
  width: 40%;
  vertical-align: middle;
  position:absolute;
}

.modal-content {
  height: 80% !important;
  overflow:visible;
  padding-bottom: 30px;
  
}

.modal-body{
	margin-bottom: 10px;
	padding-bottom: 20px;

}



.content tab-content{
	text-decoration-color: red;
	margin-bottom: 30px;
}

section{
	background-color: light-grey;
}
