h2{
	font-size: 25px;
	font-style: bold,italic;
	font-family: cursive;
}

.content{
	font-size: 20px;
	font-family: 'Damion', cursive;;
	font-style: normal;
	text-decoration-color: grey;
	font-weight: normal;
}

#nav{
	margin-bottom: 0px;
	bottom: 20px;
}

#content{
	margin-top: 40px;
	
}

img{
	width: 90%;
}

.panel-title{
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.panel{
	background-color: pink;
}

.contentstyle{
	font-size: 20px;
	margin-right: 100px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 50px;
	font-family: 'Bungee Inline', cursive;
	

}

footer{
	margin-top: 30px;
	width: 100%;
	background-color: grey;

}

#style{
	list-style: none;
	display: inline;

}

.Copyright{
	font-family: 'Bungee Inline', cursive;
}

#himg{
	width: 100%;
	align: center; 
}

.jumbotron{
	background-color: green;
}

#mainheading{
	font-family: 'Coming Soon', cursive;
}

#description{
	font-family: 'Bungee Inline', cursive;

}

.tab-content{
	margin-bottom: 30px;
	background-color: white;
}

.content tab-content{
	text-decoration-style: solid;
	color :red;
}
